<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/182101e9ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header class="header">
      <section class="logo-busqueda">
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="">
           </div>
            <div id="busqueda">
            <input type="text" placeholder="Buscar productos, marcas...">
            <button class="icon"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
              <p class="texto">  <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
              <nav>
            <ul class="nav-ul">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-usuario">
                <li><a href="">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
        </nav> 
        <div class="burger-menu">            
                <i class="fas fa-bars"></i>           
            </div>       
    </header>
    <main class="main">
        <div class="banner"  >
            <img  src="/images/img-home-banner.jpg" alt="">
        </div>
        <section class="bodymain">
        <section >
            <h3 class="titulos" >Basado en tu última visita</h3>
            <section class="section__Articles">
            <article class ="titulares">
            <span class="img">
                <img src="/images/img-cafetera-moulinex.jpg" width="300" a>
            </span>
            <div class="titulares__producto">
            <span>  
                  <i class="fa-solid fa-truck"></i>
            </span>
            <div class="titulares__producto_pd">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
            </div>
            <h4 class="descripcion">Cafetera Moulinex</h4> 
        </div>
            </article>
            <article class ="titulares">
                <span class="img">
                    <img src="/images/img-macbook-pro-2019.jpg" width="300" a>
                </span>
                <div class="titulares__producto">
                    <span>  
                          <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="titulares__producto_pd">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4> 
                </div>     
                </article>
                <article class ="titulares">
                    <span class="img">
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="300"a>
                    </span>
                    <div class="titulares__producto">
                        <span>  
                              <i class="fa-solid fa-truck"></i>
                        </span>
                        <div class="titulares__producto_pd">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        </div>
                        <h4 class="descripcion">Samsung Galaxy 10</h4> 
                    </div>     
                    </article>  
                    <article class ="titulares">
                    <span class="img">
                        <img src="/images/img-tv-samsung-smart.jpg" width="300" a>
                    </span>
                    <div class="titulares__producto">
                        <span>  
                              <i class="fa-solid fa-truck"></i>
                        </span>
                        <div class="titulares__producto_pd">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        </div>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4> 
                    </div>     
                    </article>  
                    </section>
                    </section>
                    <section >
                    <h3 class="titulos" class="titulos">Ofertas</h3 >
                        <section class="section__Articles">
                    <article class ="titulares">
                    <span class="img">
                        <img src="/images/img-cafetera-moulinex.jpg" width="300" a>
                    </span>
                    <div class="titulares__producto">
                        <span>  
                              <i class="fa-solid fa-truck"></i>
                        </span>
                        <div class="titulares__producto_pd">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4> 
                    </div>     
                    </article>  
                    <article class ="titulares">
                    <span class="img">
                        <img src="/images/img-macbook-pro-2019.jpg" width="300" a>
                    </span>
                    <div class="titulares__producto">
                        <span>  
                              <i class="fa-solid fa-truck"></i>
                        </span>
                        <div class="titulares__producto_pd">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        </div>
                        <h4 class="descripcion">MacBook Pro 2019</h4> 
                    </div>     
                    </article>
                    <article class ="titulares">
                    <span class="img">
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="300"a>
                    </span>
                    <div class="titulares__producto">
                        <span>  
                              <i class="fa-solid fa-truck"></i>
                        </span>
                        <div class="titulares__producto_pd">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        </div>
                        <h4 class="descripcion">Samsung Galaxy 10</h4> 
                    </div>     
                    </article>  
                    <article class ="titulares">
                    <span class="img">
                        <img src="/images/img-tv-samsung-smart.jpg" width="300" a>
                    </span>
                    <div class="titulares__producto">
                        <span>  
                              <i class="fa-solid fa-truck"></i>
                        </span>
                        <div class="titulares__producto_pd">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        </div>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4> 
                    </div>     
                    </article>  
                </section>
                </section>
    </section>
    </main>
    <footer class="footer">
        <section class="articles">
                <span id="icons">
                    <i class="fas fa-credit-card"></i>
                </span>  
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="articles">
            <span id="icons">
                <i class="fas fa-gift"></i>
            </span>  
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="articles">
            <span id="icons">
                <i class="fas fa-user-shield"></i>
            </span>  
            <h4>Seguridad, de principio a fin</h4>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section >
            <h4 id="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>