.footer{
    margin: auto;
    background-color: white;
}
.footer section.articles {
    text-align: center;
}
.footer #icons{
    text-align: center;
   padding-top: 15px;
 
}
.footer #icons:hover{
    color: var(--colorAmarillo);
}
.footer h4{
    padding-top: 10px;
}

.footer .texto{
    color: var(--GrisOscuro);
}


.footer #derechos {
    text-align: left;
    color: var(--GrisOscuro);
    padding-top: 20px;
    margin-bottom: 20px;

    }
    @media (min-width: 769px){
        .footer__articles{
            display: flex;
        }
    }
    

    