body{
    font-family: "Roboto";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    background-color: var(--GrisClaro);
    
}
p.texto{
   font-size: 16px;
}

h3.titulos{
    font-size: 23px;
}

p.precio{
    font-size: 18px;
}
p.descuento{
    font-size: 16px;
    text-transform: uppercase;
}
h4.descripciones{
    font-size: 16px;
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
img{
    width: 100%;
}

