.banner img{
    display: none;
    width: 100vw;

}

.main .bodymain{
    width: 90%;
    margin: auto;
 
}

.main article{
    margin: 10px;
    border: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}
.main .titulares{
    text-align: left;
    transition: 3500ms;
}
.main .titulares:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main .producto{
    text-align: left;
}

.main .img{
    text-align: center;
    width: 100%;
    height: auto;
}
.main .descuento{
    color:var(--Verde)
}

.main .descripcion{
    display: none;
    color: var(--GrisOscuro);
    padding-top: 15px;
    font-weight: 300;

}
.main .titulares__producto:hover .descripcion{
    display: block;
}

.main .titulares__producto_pd{
    display: flex;
    flex-wrap: wrap;
}
.main section article i{ 
    display: block; 
    font-size: 16px; 
    padding: 5px; 
    width:30px;
    height:30px;
    border: 1px solid #39b54a; 
    background-color: #FFF; 
    border-radius:50%; 
    position: absolute; 
    right: 20px; 
    top: -15px;
    text-align: right;
    color: var(--Verde);
}
#myCamion{
    transition: 3500ms;
}
#myCamion:hover {
    
    transform: rotateZ(-90deg);
  }
main section article .titulares__producto {
    padding: 15px 15px;
    border-top: 0.5px solid rgba(102, 102, 102, 0.301);
    position: relative;
}
.main .titulares__producto_pd .precio{
    display: flex;
    flex-grow: 30;
    
}
.main .titulares__producto_pd .descuento{
    display: flex;
    flex-grow:70;
}

/*tablet*/

@media (min-width: 361px){
 .main .descripcion{
        color:var(--GrisOscuro);
        padding-top:15px;
        font-weight: 300;
    }

    
    .main .section__Articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
               
        }
        
    .main article{
        width: 40%; 
    }
  
    .banner img{
        display: block;
        width: 100vw;
    
    }  
    .titulares__producto span i{
        margin : 2px;
    }
}
/*desktop*/

@media (min-width: 769px){
    .main article{
          width: 22%; 
  }
}
