.banner img{
    display: none;
    width: 100vw;

}

.main .bodymain{
    width: 90%;
    margin: auto;
}

.main article{
    margin: 10px;
    border: 1px solid #ebebeb;
    padding: 15px;
}
.main .titulares{
    text-align: left;
}

.main .producto{
    text-align: left;
}

.main .img{
    text-align: center;
    width: 100%;
    height: auto;
}
.main .descuento{
    color:var(--Verde)
}
.main section article div i{
        color: var(--Verde);
      padding: 10px;
      height:30px;
      width:30px;
         -moz-border-radius:30px;
      -webkit-border-radius:30px;
      border-radius:30px;
      border: var(--Verde) solid 1px;

}
.main .descripcion{
    display: none;
    color: var(--GrisOscuro);
    padding-top: 15px;
    font-weight: 300;
}

/*tablet*/

@media (min-width: 361px){
    
    .main .descripcion{
        display: block;
        color: var(--GrisOscuro);
        padding-top: 15px;
        font-weight: 300;
    }
    .main article{
        margin: 10px;
        border: 1px solid #ebebeb;
        padding: 15px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .banner img{
        display: block;
        width: 100vw;
    
    }
}
